<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script type='text/javascript'>
        function addFields(num, con){
            var markingList = ["Agouti Tabby","Appaloosa","Backstripe","Badger","Barring","Bat Wings","Blaze","Blush","Body Stripe","Butterfly Wings","Caiman",
                              "Calico","CandelFlame Tabby","Cardinal","Centered","Cheetah","Chest Splash","Classic Tabby","Clouded Leopard","Crown","Dalmation",
                              "Deer Antlers","Doberman","Dragon Horns","Ear Rims","Ear Tufts","Eastern Dragon","Elk Antlers","Eye Mask","Fairy Wings","Fawn Spots",
                              "Feather Wings","Forehead Diamond","Freckles","Front Fade","German Sheperd","Giraffe","Half","Head","Holstein","House Sparrow",
                              "Husky","Irish","Irish (Cheekless)","King Cheetah","Leg Blotches","Leg Feathering","Leg Stripes","Legwarmers","Leopard","Lower Fade",
                              "Mackerel Tabby","Mane","Marbled","Merle","Modern Stripes","Muzzle","Neck Spikes","Ocelot","Okapi","Panda","Piebald","Pitbull",
                              "Poison Dart Frog","Pronghorns","Ram Horns","Red Panda","Roan","Runes","Saber Fangs","Shine","Siamese","Skunk","Snow Leopard","Somali",
                              "Song Sparrow","Spotted Tabby","Tabby","Tail","Tail Blotches","Tail Stripes","Tailtip","Thylacine","Tiger","Tobiano","Toes","Turkish Van",
                              "Tuxedo","Undereye","Underside","Unicorn Horn","Upperside","Urajiro","Wild Cat","Wolf","Zebra"];
            var opacityList = ["100","90","80","70","60","50","40","30","20","10"];
            // Number of inputs to create
            var number = document.getElementById(num).value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById(con);
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Marking " + (i+1) + ": "));
                // Create an <input> element, set its type and name attributes
                var marking = document.createElement("select");
                marking.type = "select";
                marking.name = "marking" + i;

                for (var i = 0; i < markingList.length; i++) {
                  var mark = document.createElement("option");
                  mark.value = markingList[i];
                  mark.text = markingList[i];
                  marking.appendChild(mark);
                }

                container.appendChild(marking);
                container.appendChild(document.createTextNode(" #"));
                var color = document.createElement("input");
                color.type = "text";
                color.name = "color" + i;
                color.maxlength = "6";
                color.size = "6";
                container.appendChild(color);
                var opacity = document.createElement("select");
                opacity.type = "select";
                opacity.name = "opacity" + i;

                for (var i = 0; i < opacityList.length; i++) {
                  var opac = document.createElement("option");
                  opac.value = opacityList[i];
                  opac.text = opacityList[i];
                  opac.appendChild(opac);
                }

                container.appendChild(opacity);
                container.appendChild(document.createTextNode("%"));
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
        }
    </script>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
